</head>
<body>
	<div id="content">
		<div id="logo-floater">
			<a title="Home" href="/">
				<img alt="Home" src="files/banner.jpg">
			</a>
			<div class="clearfix">
				<span id="site-name">
					<a title="Home" href="/">Hydroponics for nerds</a>
				</span>
				<span id="slogan">Nerdiest hydroponics controller ever</span>
			</div>
		</div>
		<fieldset class="ui-widget ui-widget-content ui-corner-all">
			<legend>Status</legend>
			<p class="input" id="status">
				<label for="status-time">Last Update:</label>
				<span id="status-time"></span>
        <br />
				<label for="status-Temperature">Water Temp:</label>
				<span id="status-Temperature"></span>
        <br />
        <label for="status-AirTemperature">Air Temp:</label>
        <span id="status-AirTemperature"></span>
        <br />
				<label for="status-pH">pH:</label>
				<span id="status-pH"></span>
        <br />
        <label for="status-CO2">CO2:</label>
        <span id="status-CO2"></span>
        <br />
        <label for="status-Humidity">Humidity:</label>
        <span id="status-Humidity"></span>
        <br />
        <label for="status-Microsiemens">Microsiemens:</label>
        <span id="status-Microsiemens"></span>
        <br />
        <label for="status-TDS">TDS:</label>
        <span id="status-TDS"></span>
        <br />
        <label for="status-Salinity">Salinity:</label>
        <span id="status-Salinity"></span>
        <br />
			</p>
		</fieldset>
		<fieldset class="ui-widget ui-widget-content ui-corner-all">
			<legend>Plugin Configuration</legend>
			<div id="tabs">
				<ul>
					<li>
						<a href="#control">Control</a>
					</li>
					<li>
						<a href="#input">Input</a>
					</li>
					<li>
						<a href="#output">Output</a>
					</li>
				</ul>