$("#tabs").tabs();
$("input:submit").button().click(function(){
        $.ajax({
                url:'/SaveConfig',
                type:'POST',
                dataType:'json',
                data:{json:JSON.stringify(config)},
                success: function (data)
                {
                    var obj = $.parseJSON(data);
                    //alert(obj);
                    // do something with result
                }
            });
});});
</script>
	</body>
</html>