<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Garden For Nerds - Garden Controller</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
		<script src="config.js" type="text/javascript"></script><script src="status.js" type="text/javascript"></script>
		<link href="files/jquery.css" rel="stylesheet" type="text/css"/>
		<link href="files/ui.css" rel="stylesheet" type="text/css"/>